@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@font-face {
    font-family: Pacifico-Regular;
    src: url(Pacifico-Regular.ttf) format('truetype');
}
.satisfy-fmy {
    font-family: 'Satisfy', cursive;
}
.opensans-fmy {
    font-family: 'Open Sans', sans-serif;
}
.breeserif-fmy {
    font-family: 'Bree Serif', serif;
}
.ft-sz-11 {
    font-size: 11px;
}
.ft-sz-12 {
    font-size: 12px;
}
.ft-sz-14 {
    font-size: 14px;
}
.ft-sz-17 {
    font-size: 17px;
}
.ft-sz-18 {
    font-size: 18px;
}
.title {
    font-family: Pacifico-Regular;
}
.border-dsn {
    border-width: 2px;
    border-style: solid;
    border-color: white;
    color: white;
    outline: none;
    letter-spacing: 0.5px;
}
::placeholder {
    color: white;
    font-family: 'Satisfy', cursive;
}
.txt-clr {
    color: darkslateblue;
}
.info_msg {
    display: none;
}
.info_icn:hover .info_msg {
    display: block;
}
.outline-none {
    outline: none;
}